<div class="row">
  <div class="col-12">
    <h2>SNSサンプル</h2>
    <p>簡易的なSNSを作ってみた</p>
    <h3>主な機能</h3>
    <ul>
      <li>新規登録・ログイン</li>
      <li>新規投稿・編集・削除</li>
      <li>投稿に対してコメント</li>
      <li>投稿に対していいね</li>
      <li>フォロー・フォロワー</li>
      <li>フラッシュメッセージ</li>
    </ul>
    <h3>SNSの挙動について</h3>
    <p>主な動きとしては、以下のようになります。</p>
    <ul>
      <li>トップページと新規登録ページとログインページ以外はログインしていないとアクセスできない。</li>
      <li>他のユーザーの投稿を編集・削除できない。</li>
      <li>他のユーザーの登録情報を編集できない。</li>
      <li>フラッシュメッセージは一度だけ表示されるメッセージ</li>
    </ul>
  </div>
</div>