<form action="/login" method="post">
  <label for="email">メールアドレス</label>
  <input type="text" name="email" id="email">
  <label for="password">パスワード</label>
  <input type="text" name="password" id="password">
  <input type="submit" value="ログイン">
</form>
<a href="/signup">新規登録はこちら</a>