<h2>新規投稿 </h2>
<form action="/create" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="title">タイトル</label>
    <input type="text" name="title" id="title" class="form-control">
  </div>
  <div class="form-group">
    <label for="content">内容</label>
    <input type="text" name="content" id="content" class="form-control">
  </div>
  <span class="mb-2 d-inline-block">画像</span>
  <div class="custom-file">
    <input type="file" name="image" class="custom-file-input" id="image">
    <label class="custom-file-label" for="image" data-browse="選択">画像を選択して下さい</label>
  </div>
  <button type="submit" class="btn btn-primary my-3">投稿する</button>
  <button type="reset" class="btn btn-danger">リセット</button>
</form>