<% @viewTitle = "新規投稿" %>
<h2 class="text-center mb-3">新規登録</h2>
<form action="/signup" method="post">
  <div class="form-group">
    <label for="name">ニックネーム<span class="text-danger">必須</span></label>
    <input type="text" class="form-control" name="name" id="name" required>
  </div>
  <div class="form-group">
    <label for="email">メールアドレス<span class="text-danger">必須</span></label>
    <input type="text" class="form-control" name="email" id="email" required>
  </div>
  <div class="form-group">
    <label for="password">パスワード<span class="text-danger">必須</span></label>
    <input type="password" class="form-control" name="password" id="password" required>
  </div>
  <span class="mb-2 d-inline-block">プロフィール画像</span>
  <div class="custom-file mb-3">
    <input type="file" name="image" class="custom-file-input" id="image">
    <label class="custom-file-label" for="image" data-browse="選択">画像を選択して下さい</label>
  </div>
  <div class="form-group">
    <label for="birthday">生年月日</label>
    <input type="date" class="form-control" name="birthday" id="birthday">
  </div>
  <div class="form-group">
    <label for="introduce">自己紹介</label>
    <textarea class="form-control" name="introduce" id="introduce"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">新規登録</button>
</form>