<h2 class="mb-3">ユーザー一覧</h2>
<table class="table table-striped table-hover">
  <tr>
    <td>ユーザー名</td>
    <td>フォロー</td>
    <td>フォロワー</td>
    <td></td>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user['name'] %></td>
    <td></td>
    <td></td>
    <td><a class="btn btn-info" href="/users/<%= user['id'] %>">詳細</a></td>
  </tr>
  <% end %>
</table>